<footer class="footer">
  <small>
    The <a href="http://www.example.org/">Mereos Corp</a>
    by <a href="http://www.example.com/">Example Corp</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://bbc.co.uk" target="_blank" >News</a></li>
    </ul>
  </nav>
</footer>